<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta *name*="description" *content*="Página inicial do app Happy">
    <meta *name*="keywords" *content*="orfanato, orfanatos, crianças, casa de acolhimento, Happy">
    <meta *name*="author" *content*="Marcos Cavalcanti, RocketSeat">

    <title>Happy</title>

    <link rel="icon" href="/images/logo-icon.png">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/animations.css">
    <link rel="stylesheet" href="/css/page-landing.css">
    
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet">
</head>

<body>
    <div id="page-landing">
        <div id="container">

            <header id="happy-header">
                
                <img id="logo" class="animate-up" src="/images/logo.svg" alt="Logomarca do happy">

                <div class="location animate-up">
                    <strong>Recife</strong>
                    <p>Pernambuco</p>
                </div><!--location-->
            </header>

            <main>
                <h1 class="animate-up">Leve felicidade para o mundo</h1>

                <section class="visit">
                    <p class="animate-up">Visite orfanatos e mude o dia de muitas crianças</p>
                    <a class="seta animate-up" href="orphanages" title="Visite orfanatos">
                        <img src="/images/arrow.svg" alt="Ir para o mapa">
                    </a>
                </section><!--visit-->
            </main>
        </div><!--container-->
    </div><!--page-landing-->
</body>


</html>